$font-family-main: Roboto, sans-serif;
$font-size-default: 12px;

$color-plain: #FFFFFF;
$color-primary: #9C27B0;
$color-default: #999999;
$color-info: #03A9F4;
$color-success: #4CAF50;
$color-warning: #FBC02D;
$color-danger: #F44336;



//$color-danger: maroon;
//$color-title: white;
//$color-success: green;
//$color-warning: orange;
//
//$color-default: grey;
//$color-white: white;
//$font-size-small: 14px;
//$font-size-regular: 16px;
//$font-size-large: 18px;
